In [12]:
import pandas as pd

In [14]:
df=pd.read_csv('Patient_Data.csv')
df

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45
5,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes

In [15]:
df.iloc[:,[0,2,3,4]]

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN
5        101   Cardiology  Dr. Smith      5000.0

In [38]:
patient_df_cleaned =df.drop(
    columns=['ReceptionistID', 'CheckInTime'],inplace=True)
patient_df_cleaned

In [39]:
dept_total_bill = df.groupby('Department')['BillAmount'].sum()
print(dept_total_bill)

Department
Cardiology     16200.0
Dermatology        0.0
Neurology          0.0
Orthopedics     7500.0
Name: BillAmount, dtype: float64

In [40]:
patient_df_cleaned = df.drop_duplicates(subset='PatientID')
patient_df_cleaned

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN

In [41]:
mean_bill = df['BillAmount'].mean()
patient_df_cleaned['BillAmount'] = patient_df_cleaned['BillAmount'].fillna(mean_bill)
patient_df_cleaned

C:\Users\Anjali\AppData\Local\Temp\ipykernel_17156\4011756470.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patient_df_cleaned['BillAmount'] = patient_df_cleaned['BillAmount'].fillna(mean_bill)

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John      5925.0
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose      5925.0

In [42]:
billing_data=pd.read_csv('Billing_data.csv')

In [43]:
merged_df = pd.merge(
    patient_df_cleaned,
    billing_data,
    on='PatientID',
    how='left',
    suffixes=('', '_billing')
)
merged_df

,PatientID,Name,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.0,2000,3000
1,102,Bob,Neurology,Dr. John,5925.0,1500,3500
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,2500,5000
3,104,David,Cardiology,Dr. Smith,6200.0,3000,3200
4,105,Eva,Dermatology,Dr. Rose,5925.0,1000,4000

In [44]:
new_patients = pd.DataFrame({
    "PatientID": [106, 107, 108, 109, 110],
    "Name": ["Rakshitha", "Rahul Verma", "Sneha Iyer", "Kiran Patil", "Neha Singh"],
    "Department": ["Cardiology", "Orthopedics", "Neurology", "Pediatrics", "Dermatology"],
    "Doctor": ["Dr. Mehta", "Dr. Sharma", "Dr. Kulkarni", "Dr. Desai", "Dr. Malhotra"],
    "BillAmount": [15000, 22000, 30000, 8000, 6000]
})

merged_df = pd.concat([merged_df, new_patients], axis=0)
merged_df

,PatientID,Name,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.0,2000.0,3000.0
1,102,Bob,Neurology,Dr. John,5925.0,1500.0,3500.0
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,2500.0,5000.0
3,104,David,Cardiology,Dr. Smith,6200.0,3000.0,3200.0
4,105,Eva,Dermatology,Dr. Rose,5925.0,1000.0,4000.0
0,106,Rakshitha,Cardiology,Dr. Mehta,15000.0,NaN,NaN
1,107,Rahul Verma,Orthopedics,Dr. Sharma,22000.0,NaN,NaN
2,108,Sneha Iyer,Neurology,Dr. Kulkarni,30000.0,NaN,NaN
3,109,Kiran Patil,Pediatrics,Dr. Desai,8000.0,NaN,NaN
4,110,Neha Singh,Dermatology,Dr. Malhotra,6000.0,NaN,NaN

In [45]:
# 1. Fill missing InsuranceCovered with default value
final_df = merged_df.copy()
final_df["InsuranceCovered"] = final_df["InsuranceCovered"].fillna(2000)

# 2. Recalculate FinalAmount safely
final_df["FinalAmount"] = final_df["BillAmount"] - final_df["InsuranceCovered"]

In [46]:
final_df

,PatientID,Name,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.0,2000.0,3000.0
1,102,Bob,Neurology,Dr. John,5925.0,1500.0,4425.0
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,2500.0,5000.0
3,104,David,Cardiology,Dr. Smith,6200.0,3000.0,3200.0
4,105,Eva,Dermatology,Dr. Rose,5925.0,1000.0,4925.0
0,106,Rakshitha,Cardiology,Dr. Mehta,15000.0,2000.0,13000.0
1,107,Rahul Verma,Orthopedics,Dr. Sharma,22000.0,2000.0,20000.0
2,108,Sneha Iyer,Neurology,Dr. Kulkarni,30000.0,2000.0,28000.0
3,109,Kiran Patil,Pediatrics,Dr. Desai,8000.0,2000.0,6000.0
4,110,Neha Singh,Dermatology,Dr. Malhotra,6000.0,2000.0,4000.0